@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pb-1 {
  padding: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pb-2 {
  padding: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pb-3 {
  padding: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pb-4 {
  padding: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pb-5 {
  padding: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(36deg, 100%, 99%);
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1440px;
  overflow: auto;
  padding: 0 30px;
  margin: 0 auto;
  line-height: 1.5;
}
main p,
main a,
main h5 {
  color: hsl(236deg, 13%, 42%);
}

a {
  text-decoration: none;
}
a:hover {
  color: hsl(5deg, 85%, 63%);
}

.mobile-img,
.close-svg,
.menu-svg {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding: 15px;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.container1 img {
  width: 100%;
  height: auto;
}
.container1 .content1 {
  display: flex;
  flex-direction: row;
}
.container1 .content1 h2 {
  font-size: 52px;
  line-height: 1.2;
  width: 40%;
  font-weight: 800;
}
.container1 .content1 p {
  width: 60%;
  text-align: left;
}
.container1 button {
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 3px;
  padding: 15px;
  border: none;
  margin-top: 4rem;
}
.container1 button:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.container2 {
  background-color: hsl(240deg, 100%, 5%);
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container2 h1 {
  color: hsl(35deg, 77%, 62%);
  padding-bottom: 15px;
}
.container2 h3 {
  padding-top: 2rem;
}
.container2 hr {
  color: hsl(236deg, 13%, 42%);
  opacity: 50%;
  padding: 0;
}
.container2 > p {
  padding-bottom: 2rem;
}
.container2 a {
  color: hsl(36deg, 100%, 99%);
}
.container2 a:hover {
  color: hsl(35deg, 77%, 62%);
}

.section2 {
  display: flex;
  flex-direction: row;
}
.section2 figure {
  display: flex;
  padding-right: 1rem;
}
.section2 figure img {
  width: 100px;
  height: auto;
}
.section2 figure h5 {
  font-size: 20px;
  opacity: 50%;
}
.section2 figure a {
  color: hsl(240deg, 100%, 5%);
  font-weight: 700;
}
.section2 figure a:hover {
  color: hsl(5deg, 85%, 63%);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pb-1 {
  padding: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pb-2 {
  padding: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pb-3 {
  padding: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pb-4 {
  padding: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pb-5 {
  padding: 5rem;
}

@media (max-width: 375px) {
  main {
    width: 375px;
    overflow: hidden;
    padding: 1rem;
  }
  nav {
    display: flex;
    padding: 0;
  }
  nav .close-svg,
nav .menu-svg {
    display: flex;
  }
  nav ul {
    display: none;
  }
  .main-section {
    flex-direction: column;
  }
  .container1 .desktop-img {
    display: none;
  }
  .container1 .mobile-img {
    display: block;
  }
  .container1 .content1 {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }
  .container1 .content1 h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    width: 100%;
  }
  .container1 .content1 p {
    width: 100%;
    padding: 2px;
  }
  .container1 button {
    background-color: hsl(5deg, 85%, 63%);
    color: hsl(36deg, 100%, 99%);
    letter-spacing: 2px;
    padding: 10px;
    border: none;
    margin-top: 1rem;
  }
  .container2 {
    background-color: hsl(240deg, 100%, 5%);
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .container2 h1 {
    color: hsl(35deg, 77%, 62%);
    padding-bottom: 5px;
  }
  .container2 h3 {
    padding-top: 2rem;
  }
  .container2 h3 a {
    color: hsl(36deg, 100%, 99%);
  }
  .container2 h3 a:hover {
    color: hsl(35deg, 77%, 62%);
  }
  .container2 hr {
    color: hsl(236deg, 13%, 42%);
    opacity: 50%;
    padding: 0;
  }
  .container2 > p {
    padding-bottom: 2rem;
  }
  .section2 {
    display: flex;
    flex-direction: column;
  }
  .section2 figure {
    display: flex;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  .section2 figure img {
    width: 100px;
    height: auto;
  }
  .section2 figure h5 {
    font-size: 20px;
    opacity: 50%;
  }
  .section2 figure a {
    color: hsl(240deg, 100%, 5%);
    font-weight: 700;
  }
  .section2 figure a:hover {
    color: hsl(5deg, 85%, 63%);
  }
}/*# sourceMappingURL=style.css.map */